
    <div>
        <h2>Update User</h2>
        <form action="/update/{{user.sno}}" method="POST">

            <div >
              <label>FullName</label>
              <input type="text"  name="fullname" id="fullname">
            </div>

            <div >
              <label>Age</label>
              <input type="text" name="age" id="age">
            </div>

            <div>
              <label>Mobile</label>
              <input type="text" name="mobile" id="mobile">
            </div>
            
            <button type="submit" >Update</button>
          </form>
    </div>
